@import "./container-width.less";

html,body{
  font-family: "Gotham";
  min-height: 100%;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

.gradient-bg{
  background: #8076F9; /* Old browsers */
  background: -moz-linear-gradient(top, #8076F9 1%, #662D91 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8076F9 1%,#662D91 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8076F9 1%,#662D91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8076F9', endColorstr='#662D91',GradientType=0 ); /* IE6-9 */
}

.magitech-container{
  margin: auto;
  z-index: 10;
  .magitech-content{
    border-radius: 6px;
    background-color: white;
    box-sizing: border-box;
    padding: 12px 29px;
  }

  .container-width()
}